.WODate {
  display: flex;
  flex-direction: column;
  width: calc(100% / 7);

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #6a7988;
    margin-bottom: 0.5rem;
  }

  &__container {
    background: #f3f5f8;
    mix-blend-mode: normal;
    opacity: 0.8;
    border-radius: 6px;
    padding: 0.5rem;
    margin-right: 0.5rem;
    min-height: calc(100% - 14px);
  }

  &__date {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #728096;

    &.active {
      color: #5a57cb;
    }
  }
}
